/* Global Styles */
:root {
  --primary-color: #1db954;
  --dark-grey-color: rgb(20, 20, 20);
  --light-grey-color: rgb(155, 155, 155);
  --nav-width: 100px;
  --nav-height: 50px;
  --desktop: 1200px;
  --notebook: 1000px;
  --tablet: 768px;
  --thone: 600px;
  --phablet: 480;
  --phone: 376;
  --tiny: 330;
}

.App {
  margin-top: 0;
  display: block;
  height: 100%;
}

body {
  background-color: var(--dark-grey-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  padding-left: var(--nav-width);
}

@media (max-width: 768px) {
  .main {
    padding-left: 0;
    padding-bottom: var(--nav-height);
  }
}

/* Utilities */
.container {
  padding: 80px;
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  color: white;
}

@media (max-width: 768px) {
  .container {
    padding: 50px 40px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 30px 25px;
  }
}

a {
  color: var(--light-grey-color);
}

a:hover {
  color: white;
  text-decoration: none;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-pic {
  height: 60px;
  width: 60px;
}

.playlist-page-pic {
  height: 125px;
  width: 125px;
}

.playlist-page-pic:hover {
  opacity: 0.5;
  transition: 0.25s;
}

.profile-pic {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin: 0 auto;
}

/* NAVBAR */

.sidenav {
  height: 100%;
  width: var(--nav-width);
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgb(0, 0, 1) 0px 0px 10px;
  z-index: 2;
}
.spotify-icon {
  height: 50px;
}
.spotify-icon:hover {
  opacity: 0.5;
}

.sidenav a,
button {
  margin: 30px auto;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #818181;
  display: block;
  background-color: black;
  text-align: center;
  align-items: center;
}

.icon {
  text-align: center;
  align-items: center;
}

.icon-div {
  display: block;
  text-align: center;
}

.icon-div:hover {
  transition: 1s;
  transform: rotateY(360deg);
}

.sidenav button {
  border: none;
}

.sidenav a:hover,
button:hover {
  color: #f1f1f1;
}

@media (max-width: 768px) {
  .sidenav {
    top: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: var(--nav-height);
    height: var(--nav-height);
    flex-direction: row;
    justify-content: center;
  }

  .spotify-icon {
    height: 30px;
  }

  .sidenav a,
  button {
    display: inline;
    transition: 1s;
    font-size: 0.7rem;
  }

  .horizontal-div {
    flex-direction: row;
    display: flex;
    height: 50px;
    align-items: center;
  }

  .logout-nav {
    display: none;
  }

  .wrap {
    font-size: 0.9rem;
  }

  li {
    margin-bottom: 30px;
  }
}

/* SONG LIST */

ul {
  display: block;
}

li {
  display: block;
}

.link-in-list {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 30px;
  height: 50px;
}

.link-in-list:hover {
  color: white;
}

.name-and-time {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 10px;
}

.name-and-time p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
}

.wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  flex-direction: column;
}

.table-pic-span {
  padding-right: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.btn-group {
  display: flex;
}

.button-in-group {
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  color: var(--light-grey-color);
}

.button-in-group:hover {
  color: white;
  text-decoration: underline;
}

.button-in-group:focus,
.button-in-group:active {
  outline: none !important;
  box-shadow: none;
}

.selected {
  color: white;
  text-decoration: underline;
}

.far-right-button {
  padding-right: 0px;
}

@media (max-width: 768px) {
  .header {
    display: block;
    align-items: center;
    text-align: center;
  }

  .btn-group {
    margin: 30px auto;
  }

  .table-pic-span img {
    height: 50px;
    width: 50px;
  }

  .name-and-time p {
    margin-bottom: 5px;
  }
}

.artist-col {
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.logout-button {
  background-color: transparent;
}

.loader {
  margin: 100px auto;
}

.playlist-songs p {
  color: var(--light-grey-color);
  font-size: 0.9rem;
}

.artist-name {
  margin: 20px;
}

.artist-pic {
  margin-bottom: 20px;
}

.album-name {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.album-name-header {
  margin-bottom: 40px;
}

.album-name-and-time {
  display: flex;
  justify-content: space-between;
}
