/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.left {
  text-align: left;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-pic {
  height: 60px;
  width: 60px;
}

.playlist-page-pic {
  height: 200px;
  width: 200px;
}
